.title {
	font-size: 2em;
	word-break: break-word;
}

.description {
	font-size: 1.2em;
}

.item-detail {
	padding: 35px;
	color: black;
	background-color: white;
}

.price {
	font-size: 2em;
}

.button-buy {
	background-color: #3483fa;
}