/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/reset.scss";
@import "./assets/styles/theme.scss";
@import "./assets/styles/utils.scss";


html, body { 
  height: 100%; 
  background-color: #ebebeb;
}

body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
	overflow: hidden;
}

/* bootstrap */
#pre-bootstrap {
  background-color: white;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
}
         
#pre-bootstrap div.messaging {
  color: #FFFFFF;
  left: 0;
  margin-top: -37px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
}   